{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row" style="color: purple;">
    {% if images%}
      <h2>Found {{ images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <!-- <div class="row">

  {% if images %}
    {% for image in images %}
      <div class="col-sm-6 col-md-3">
          <h1>{{image.image_name}}</h1>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div> -->


<div class="row">
  {% if images %}
  {% for image in images %}
  <div class="col-md-3">
    <a id="link" type="button" style="background-color: mistyrose;" data-toggle="modal" data-target="#exampleModalLong{{image.id}}">
      <img style="width: 300px;height: 300px;" src="{{image.photo.url}}" class="img-responsive" alt="Image">
    </a>
    <p class="text-center"><strong style="color: purple;">{{ image.image_location }}</strong></p>
  </div>
  <div class="modal fade" id="exampleModalLong{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLongTitle" style="color: purple;">{{ image.image_name}}</h2>
          <button type="button" class="close" data-dismiss="modal" style="color: purple;" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img style="width: 600px;height: 300px;" src="{{image.photo.url}}" class="img-responsive" alt="Image">
          <h5 class="" style="color: purple;">{{ image.image_description }} </h5>
          <p class="" style="color: brown;">Category: {{ image.image_category }} </p>
          <p class="" style="color: brown;">Post Date: {{ image.post_date}} </p>
          <p class="" style="color: brown;">Location: {{ image.image_location }} </p>
          <button type="button" class="btn btn-secondary" style="color: purple;" data-dismiss="modal">Close</button>
       </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {%endif%}
</div>
</div>
{% endblock %}